doctype html
html
    head
        title Panel d'administration
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        script.
            window.onbeforeunload = function() {
            return 'Your changes will be lost!';
            };

    body
        block content
        div(class="manage__container")
            h1(class="manage__title") #{title} 
            div(class="manage__article__add-content")

                form(method='post', action=`/header/edit` class="manage__article__add-form" enctype="multipart/form-data")
                    img(src=`${header.lien}`)
                    .form-group
                        label(class="manage__article__add-label") Choisissez une nouvelle photo :
                        p Largeur minimum conseillée de l'image : 1920px <br > Si aucune image n'est choisie, l'image actuelle sera conservée.
                        input.form-control(type='file' name='image' class="manage__article__add-upload" accept=".jpeg, .jpg, .png")
                    input.manage__article__add-submit(type='submit', name='submit', value='Envoyer' class='manage__article__add-submit')

                div(class="manage__menu")
                    a(href="/" class="btn manage__btn") Accueil
                    a(href="/manage" class="btn manage__btn") Retour