doctype html
html
    head
        title Panel d'administration
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="/js/manage.js" defer)
    body
        block content
        div(class="manage__container")
            h1(class="manage__title") #{title}
            
            div(class="manage__content")
                each article in articles
                    div(class="manage__row")
                        a(href="/article" class="manage__link")= `• ${article.titre}`
                        a(class="manage__btn-edit" href=`/manage/articles/edit/${article.id}`) Éditer
                        a(class="manage__btn-delete article-delete" href='/manage/articles' data-article-id=`${article.id}`) Supprimer

                a(class="manage__btn-new" href='/manage/articles/add') Nouvel article

            div(class="manage__menu")
                a(href="/" class="btn manage__btn") Accueil
                a(href="/manage" class="btn manage__btn") Retour